* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

header {
  color: white;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 30%;
  min-height: 40%;
  padding: 15px;
  border-radius: 15px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 10px 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: auto;
  padding: 10px;
}

.img-box {
  border-radius: 20%;
  overflow: hidden;
  width: 330px;
  height: 330px;
}

img {
  width: 100%;
  height: 100%;
}

section#buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

section > p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

button {
  padding: 5px 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 1.5rem;
  filter: grayscale(100%);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  filter: grayscale(0%);
  transition: 500ms;
}

button#morning-btn:active {
  transform: scale(98%) translate(2%, 0%);
  background-color: rgba(0, 0, 0, 0.2);
}
button#md-night-btn:active {
  transform: scale(98%);
  background-color: rgba(0, 0, 0, 0.2);
}
button#night-btn:active {
  transform: scale(98%) translate(-2%, 0%);
  background-color: rgba(0, 0, 0, 0.2);
}
button#now-btn:active {
  transform: scale(98%);
  background-color: rgba(0, 0, 0, 0.2);
}

button#morning-btn {
  border-radius: 30px 0px 0px 30px;
}
button#md-night-btn {
  border-radius: 0px;
  border-width: 1px 0px 1px 0px;
}
button#night-btn {
  border-radius: 0px 30px 30px 0px;
}
button#now-btn {
  margin-top: -15%;
  border-radius: 30px;
}